@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
:root {
  --theme-color: #FF2B51;
  --theme-font: 'Poppins', sans-serif;
}

body,
html {
  overflow-x: hidden !important;
}

* {
  color: white;
  font-family: var(--theme-font);
}

body {
  background-color: black;
  margin: 0;
  padding: 0em;
}

body > div {
  padding: 3em;
}

.wave-after-experiences img,
.wave-after-header img {
  position: absolute;
  left: -10px;
  z-index: -1;
  width: 150vw;
}

header {
  height: 95vh;
  position: relative;
}

header .heading-logos {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-section-2 .header-img {
  max-height: 40em;
  max-width: 40em;
}

header .header-section-2 .header-img img {
  height: 100%;
  width: 100%;
}

header .header-section-2 .header-links ul {
  position: fixed;
  right: 0;
  bottom: 35%;
}

header .header-section-2 .header-links ul li {
  list-style: none;
  font-family: var(--theme-font);
  margin-top: 80px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .header-section-2 .header-links ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

header .header-section-2 .header-links ul li a::before {
  content: '';
  height: 4px;
  width: 0%;
  position: absolute;
  bottom: -0.8em;
  background-color: var(--theme-color);
  border-radius: 5px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

header .header-section-2 .header-links ul li a:hover::before {
  width: 100%;
}

header .header-section-3 {
  position: absolute;
  bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header .header-section-3 .FSD-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0px;
}

header .header-section-3 .FSD-text p {
  color: white;
  font-family: var(--theme-font);
}

header .header-section-3 .FSD-text p:nth-child(1) {
  font-size: calc(9px + 1vw);
}

header .header-section-3 .FSD-text p:nth-child(2) {
  font-size: calc(10px + 0.8vw);
  margin-top: 3px;
}

header .header-section-3 .FSD-text p:nth-child(2) {
  color: var(--theme-color);
}

header .header-section-3 .FSD-text p:nth-child(2) span {
  color: #C0C0C0;
}

header .header-section-3 .header-social-links i {
  color: white;
  margin: 10px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .header-section-3 .header-social-links i:hover {
  color: var(--theme-color);
}

.experiences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20em;
}

.experiences .experiences-section-1 h1 {
  font-size: calc(30px + 1vw);
}

.experiences .experiences-section-1 h1 span {
  color: var(--theme-color);
}

.experiences .experiences-section-1 p:nth-child(2) {
  color: var(--theme-color);
  font-size: calc(10px + 1vw);
}

.experiences .experiences-section-1 p:nth-child(3) {
  max-width: 30em;
}

.experiences .experiences-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em;
}

.experiences .experiences-section-2 .experiences-quality p:nth-child(1) {
  font-size: calc(22px + 1vw);
  line-height: 0;
}

.experiences .experiences-section-2 .experiences-quality p:nth-child(1) span {
  color: var(--theme-color);
}

.experiences .experiences-section-2 .experiences-quality p:nth-child(2) {
  color: #C0C0C0;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20em;
  margin-bottom: 10em;
}

.services .services-section-1 h1 {
  font-size: calc(30px + 1vw);
}

.services .services-section-1 h1 span {
  color: var(--theme-color);
}

.services .services-section-1 p {
  max-width: 30em;
}

.services .services-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em;
}

.services .services-section-2 > div:nth-child(1) > div:nth-child(2) {
  margin-top: 5em;
}

.services .services-section-2 > div div:nth-child(1) > div {
  font-size: calc(6px + 1vw);
  margin-top: -20px;
}

.services .services-section-2 div:nth-child(2) > div {
  font-size: calc(6px + 1vw);
  margin-top: -20px;
}

.services .services-section-2 .all-services p {
  font-size: calc(22px + 1vw);
  line-height: 30px;
}

.services .services-section-2 .all-services p > span:nth-child(1) {
  color: var(--theme-color);
  font-size: calc(25px + 1vw);
}

.services .services-section-2 .all-services p > span:nth-child(2) {
  display: block;
  font-size: calc(8px + 1vw);
}

.services .services-section-2 .all-services a {
  text-decoration: none;
}

.services .services-section-2 .all-services a i {
  visibility: hidden;
  opacity: 0;
  position: relative;
  left: -10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.services .services-section-2 .all-services a:hover i {
  visibility: visible;
  opacity: 1;
  left: 0;
}

@media screen and (max-width: 1150px) {
  .wave-after-header img,
  .wave-after-experiences img {
    width: 200em;
  }
  .experiences {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experiences .experiences-section-2 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .services-section-2 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services .all-services p > span:nth-child(2) {
    font-size: calc(12px + 1vw) !important;
  }
}

@media screen and (max-width: 750px) {
  body > div {
    padding: 1em;
  }
  .header-links ul {
    bottom: 0% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    background-color: #0B0B0B;
    padding: 1em 0 1em 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0%;
    border-radius: 1em 1em 0 0;
    z-index: 999;
    -webkit-box-shadow: var(--theme-color) 0px 5px 15px;
            box-shadow: var(--theme-color) 0px 5px 15px;
  }
  .header-links ul li {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    margin-top: 0% !important;
  }
  header .header-section-2 {
    position: absolute;
    top: 19vh;
  }
}

@media screen and (max-width: 500px) {
  .experiences-section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-section-2 .all-services {
    margin-top: 3em !important;
  }
  .services-section-2 .all-services p > span:nth-child(2) {
    display: inline !important;
    font-size: calc(24px + 1vw) !important;
  }
}
/*# sourceMappingURL=index.css.map */